    .panel-heading{
        overflow:hidden;
    }

    .panel-heading h3{
        display: inline-block;
    }

    /*estilos caja de estatus*/
    .hidden {
      display: none;
    }

    .popover-all {
        width: 450px;
        position: absolute !important;
        top:0px !important;
        margin-top: 18px;
        z-index: 5;
    }
  
    .popover-inner{
        margin-right: 15px;
    }

    .popover-all .popover-arrow {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 14px;
        left: 96.5%;
        border-top: 15px solid transparent;
        border-left: 15px solid rgba(0, 0, 0, .2);
        border-bottom: 15px solid transparent;
    }
    
    .popover-all .popover-arrow::after {
        content: "";
        position: absolute;
        border-top: 15px solid transparent;
        border-left: 15px solid rgba(247, 247, 247, 1);
        border-bottom: 15px solid transparent;
        bottom: -15px;
        right: 1px;
        border-right-width: 0;
    }

    .popover-content {
        color:rgba(0, 0, 0, .57);
        background-color: #F7F7F7;
        border: 1px solid rgba(0,0,0,0.2);
        padding: 9px 14px;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);

        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
    }
    /*estilos caja de estatus*/

    /*(opcional) destro de caja de estatus*/
    .muted{
        color:#999;
    }
    .m50{
        margin: 10px 0;
    }

    .text-error {
        color: #b94a48;
    }

    input[type=date] {
        line-height: inherit; 
    }

    /*estilos btn de estatus*/
    .btn-xs, .btn-group .btn{
        width: 100px;
        border-radius: 0px;
    }

    .btn-group + p{
        margin-bottom: 0px;
        padding: 5px 0px;
    }

    /*comentarios*/

     a.user {
        color: #d65250;
    }

    .lead-desc, .comments-list
    {
        padding: 10px 15px;
    }

    .comments-list {
        margin: 0;
        margin-bottom: 10px
    }

    .comments-list li 
    {
        background: #FFFFFF;
        padding: 2px;
        border-bottom: 1px solid #666;
        list-style-type: none;
        position: relative;
    }
    .comment
    {
        max-height: 300px;
        overflow: auto;
        background: #fff;
        color: #666;
    }
    .comment-list
    {
        background: #F7F7F7;
        padding: 2px;
        border-radius: 4px;
        border-bottom: 1px solid #eee;
        list-style-type: none;
        color: #737373;
        text-align: center;
        font-size: 0.85em;
        color: #666;
    }